{{outlet}}
<div class="row">
	<div class="col s2">
		{{volver-main}}
		<button class="waves-effect waves-light btn blue"{{action 'goToNuevoEmpleado'}}> Agregar un empleado </button>
	</div>	
	<div class="col s10">
		{{#each model as |empleado|}}
			<div class="row">
        		<div class="col s12 m6">
          			<div class="card blue-grey darken-1">
            			<div class="card-content white-text">
              				<span class="card-title">{{empleado.nombre}}</span>
              				{{empleado.areas}}
                  
            			</div>
            			
          			</div>
        		</div>
     	 	</div>
		{{/each}}
	</div>
</div>