
<div class="full-height valign-wrapper">
	<div class="row full-width">
		<div class="col s ">
			<div class="card">
				<div class="card-content">
					<form {{action 'login' provider on='submit'}}>
						<div class="card-title center-align">
							Ventana de <strong>administrador</strong>
						</div>
						<br>
						<div class="card-title">Inicia sesi칩n</div>
						{{input
							type='email'
							value=username
							placeholder='Correo de usuario'
							required='true'
						}}
						<br>
						{{input
							type='password'
							value=password
							placeholder='Contrase침a'
							required='true'
						}}
						<br>
						<button class="btn blue full-width   {{if isLoggingIn 'disabled' ''}}" type="submit" onclick="Materialize.toast('Estamos verificando los datos', 4000)">
							{{#if isLoggingIn}}
								Iniciando sesi칩n...
							{{else}}
								Inicia sesi칩n
							{{/if}}
						</button>
					</form>
					<br>
					<p class="center-align red-text text-darken-2">{{errorMessage}}</p>
				</div>
			</div>
		</div>
	</div>
</div>