{{outlet}}


<div class="row">
	<div class="col s2">
		<div>
			<button class="waves-effect waves-light btn" {{action 'goToListaReportes' on='click'}}>Ver los reportes</button>
			<hr>
		</div>
		<div>
			<button class="waves-effect waves-light btn" {{action 'goToListaEmpleados' on='click'}}>Ver los empleados</button>
			<hr>
		</div>
		<div>
			<button class="waves-effect waves-light btn" {{action 'goToListaAreas' on='click'}}>Ver las areas</button>
		</div>
		<hr>
		<div>
			<button class="waves-effect waves-light btn" {{action 'logOut' on='click'}}>Cerrar
			Sesión</button>
		</div>
		
		
	</div>
	<div class="col s10">
		
	</div>
</div>