{{outlet}}
<div class="row">
	<div class="col s2">
		{{volver-main}}
	</div>	
	<form {{action 'createNewEmpleado' on='submit'}}>
		<div class="col s8">
			<h5>Añadir nuevo empleado</h5>
			<label>Nombre del empleado</label>
			{{input type='text' value=model.nombre}}
			<label>Areas asignadas</label>
			{{input type='text' value=model.areas}}
			<button type='submit' class="waves-effect waves-light btn">Añadir empleado</button>
		</div>
	</form>
</div>
